* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: grid;
    grid-template: auto 100vh auto / 1fr;
}

.header {
    height: 100vh;
    display: grid;
    grid-template: 100px 1fr 276px / 1fr;
    grid-template-areas:
        "menu"
        "intro"
        "cards";
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 750px;
    height: 810px;
    background: rgba(43, 122, 241, 1);
}

.header__head {
    grid-area: menu;
    display: grid;
    align-items: center;
    grid-template: [content] 1fr / 100px [logo] 190px [nav] 1090px 100px;
}

.header__logo {
    grid-area: content / logo;
}

.header__menu {
    position: relative;
    z-index: 1;
}

.menu {
    grid-area: content / nav;

    display: grid;
    align-items: center;
}

.menu__right {
    display: grid;
    grid-template: 1fr / auto 1fr;
    align-items: center;
    color: #fff;
}

.menu__right span {
    margin-left: 10px;
}

.menu__list {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;

}

.menu__item {
    list-style: none;
}

.header__intro {
    grid-area: intro;
    display: grid;
    grid-template: [content] 1fr / 1fr [info] 465px [photo] auto;
}

.header__info {
    grid-area: content / info;

    display: grid;
    grid-template: auto;
    justify-items: center;
    align-items: center;
}

.header__title {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
}

.header__subtitle {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
}

.header__photo {
    grid-area: content / photo;
    position: relative;
    z-index: 1;
}


.header__cards {
    grid-area: cards;

    display: grid;
    grid-template: [content] 1fr / 1fr [cards] 12fr 1fr;

    position: relative;
    z-index: 1;
}

.header__wrapper {
    grid-area: content / cards;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__card {
    width: 305px;
    height: 231px;
    border-radius: 10px;
    background: #fff;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));

}





main {}


.btn {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(45deg, orangered, orange);
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;

    transition: all 500ms ease;
}

.btn:hover {
    transform: scale(1.1);
}

.white_blok {}

.logo {
    /* background-image: url(logo.svg);
    width: 136px;
    height: 54px; */
}

.nav_menu {
    /* display: grid;

    grid-row-start: ;
    grid-row-end: 4p;
    grid-column-start: ;
    grid-column-end: 4; */



    /*  
    grid-template-areas:

     grid grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(4, 1fr);*/
}

.an {
    /* display: grid:;
    grid-row-start: 2; */

}

.blue_blok {
    /* background-color: #2B7AF1;
    grid-area: post-2;
    width: 750px;
    height: 810px; */
}